form{
    width: 600px;
    border: 1 px solid teal;
    margin: 40 px auto;

}
*{
    margin: 0;
    padding: 0;
}
label,input{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: teal;
}
form{
    width: 600px;
    border: 1 px solid teal;
    margin: 40 px auto;
    padding: 20px;
    border-radius: 10px;
}